# Entorno general
AUTOTUBE_ENV=development
AUTOTUBE_LOG_LEVEL=INFO

# Inteligencia artificial
GEMINI_API_KEY=

# Recursos visuales
PIXABAY_API_KEY=

# YouTube
YOUTUBE_CLIENT_SECRET_FILE=config/client_secret.json